/* Globals */

:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* Aside */

.aside--container {
    position: fixed;
    height: 100vh;
    left: -85vh;
}

.aside--circle1 {
    position: absolute;

    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: #428ed4;
}

.aside--circle2 {
    position: absolute;
    top: -2.5%;
    left: -2.5%;

    height: 105%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: #428ed4;
    opacity: 10%;
}

.aside--circle3 {
    position: absolute;
    top: -5%;
    left: -5%;

    height: 110%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: #428ed4;
    opacity: 6%;
}

/* Content */

.content--container {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 45%;
    max-width: 35rem;

    display: flex;
    flex-direction: column;
}
