/* Made by Rasmus */

@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Secular+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/assets/star-transparent.png),
    linear-gradient(to right, #212d5d, #190b23);
  background-size: cover, cover;
  background-attachment: fixed, fixed;
  padding: 3rem;
}

header {
  top: 0;
  left: 0;
  padding-top: 3rem;
  position: fixed;
  width: 100%;
  background-color: rgba(107, 107, 107, 0.3);
  z-index: 1;
}

h1 {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  text-align: center;

  font-size: 3rem;
}

.favorites-nav {
  width: 6rem;
  height: 6rem;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 100%;
  background-color: rgb(16, 3, 65);
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 0px 0px 30px 10px rgba(81, 111, 187, 0.5);
  transition: 0.3s;
  margin: 0 0 1rem 1rem;
}

.favorites-nav:hover {
  cursor: pointer;
  background-color: rgb(64, 32, 182);
}

.favorites-card-wrapper {
  margin-top: 11rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  height: 100%;
  .favorites-card {
    padding: 2rem;
    transition: 0.5s;
    position: relative;
    z-index: 0;
    h2 {
      margin-left: 12px;
      text-align: center;
      font-family: "Lora", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 10px;
      text-transform: uppercase;
      font-size: 1.2rem;
      color: #ffd029;
      margin-bottom: 1rem;
    }
    .planet-div {
      color: white;
      border-radius: 50%;
      width: 100%;
      padding: 1rem;
      aspect-ratio: 1 / 1;
    }
    .planet-div:hover {
      cursor: pointer;
    }
    #saturnus-ring {
      background-color: white;
      width: 110%;
      height: 10px;
      border-radius: 100%;
      opacity: 0.7;
      position: absolute;
      /*  //left: 35%; */
      transform: rotate(161deg);
      top: 52%;
      left: -5%;
    }
    #planet-color-0 {
      background-color: #f5d026;
    }
    #planet-color-1 {
      background-color: #8c8a85;
    }
    #planet-color-2 {
      background-color: #e7cdcc;
    }
    #planet-color-3 {
      background-color: #478ed4;
    }
    #planet-color-4 {
      background-color: #e85e5e;
    }
    #planet-color-5 {
      background-color: #e29468;
    }
    #planet-color-6 {
      background-color: #c7aa72;
    }
    #planet-color-7 {
      background-color: #c9d4f1;
    }
    #planet-color-8 {
      background-color: #7a91a7;
    }
  }
  .favorites-card:hover {
    padding: 1rem;
  }
}

h3 {
  color: white;
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  margin-top: auto;
  p {
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@media screen and (width < 1280px) {
  .favorites-card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
